.homeTitle{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
}

.homeBtn{
  text-align: center;
}
.homeBtn1{
  display: inline-block;
}

.hBtn{
  border-radius:5px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  font-size: 20px;
  padding-inline: 20px;
  background-color: #e7eff8;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}