
.tableTitle {
	font-size: 25px;
  font-weight: bold;
	text-align: center;
  padding-top: 25px;
  
}
.header {
  border-bottom: 1px solid rgb(196, 192, 192);
}
.container {
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 10px;
  border-radius: 10px;
  width: 600px;
  background-color: #e7eff8;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  font-size: 15px;
}
